<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.250403.95517" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.241212.85916" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.241212.85916" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.250409.94944" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.250317.44327" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.250118.94723" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.250407.50617" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>